body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#navbar {
  background: #e7302a;
}

.nav-link {
  font-size: 1.3rem;
}

.container-fluid {
  padding: 1% 5%;
}

#hero {
  background: black;
}

.hero-text {
  color: #fff;
  padding: 8% 5%;
}

h1 {
  font-size: 2.5rem;
  font-weight: 900;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
  font-weight: 700;
}

h6 {
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  font-size: 2.2rem;
}

p {
  font-size: 1.2rem;
  color: #464545;
}

.logo-animation {
  text-align: center;
}

#features {
  background: #fff;
  padding: 5% 1%;
}

.feature-box {
  text-align: center;
}

.icon {
  color: #e7302a;
  padding-bottom: 5%;
}

.icon:hover {
  color: #f39200;
}

#perfume-carousel {
  text-align: center;
  background: #e7302a;
  color: #fff;
}

.perfume-image {
  width: 15%;
  transform: rotate(25deg);
}

.perfume-image-masc {
  width: 20%;
  border-radius: 10%;
  transform: rotate(0deg);
}

.carousel-item {
  padding: 5% 1%;
}

em {
  margin-left: 10%;
}

#pricing {
  padding: 3% 5%;
  text-align: center;
  background: #f39200;
}

.pricing-column {
  padding: 3% 2%;
}

.price-title {
  font-size: 2.5rem;
  text-align: center;
  padding: 0;
}

.card-header {
  color: #e7302a;
}

.p-pricing {
  color: #fff;
  font-size: 1.5rem;
}

.price {
  padding: 3% 7%;
  color: black;
  font-size: 2.2rem;
}

.btn-outline-dark {
  border-color: #e7302a;
}

.btn-outline-dark:hover {
  color: #fff;
  background: #e7302a;
  border-color: #e7302a;
}

.btn-dark {
  background: #e7302a;
  border-color: #e7302a;
}

.btn-dark:hover {
  background: #fff;
  border-color: #e7302a;
  color: black;
}

footer {
  padding: 1% 5%;
  text-align: center;
}

.social-icon {
  margin: 20px 10px;
  color: #464545;
}

.social-icon:hover {
  color: #e7302a;
}

p-footer {
  color: #464545;
}

/*animations*/
#schaduw {
  -webkit-animation: schaduw-kleur 2s ease-in-out infinite;
  animation: schaduw-kleur 2s ease-in-out infinite;
}

#logo_Helene_fourment {
  -webkit-animation: op-neer 3s infinite;
  animation: op-neer 3s infinite;
}

@-webkit-keyframes schaduw-kleur {
  0% {
    fill: rgb(133, 131, 131);
  }
  100% {
    fill: #ddd6d6;
  }
}

@keyframes schaduw-kleur {
  0% {
    fill: rgb(133, 131, 131);
  }
  100% {
    fill: #ddd6d6;
  }
}

@-webkit-keyframes op-neer {
  50% {
    -webkit-transform: translateY(5%);
    tranform: translateY(5%);
  }
}

@keyframes op-neer {
  50% {
    -webkit-transform: translateY(5%);
    tranform: translateY(5%);
  }
}

@media (max-width: 768px) {
  #hero {
    text-align: center;
  }
}

@media (max-width: 650px) {
  svg {
    width: 80%;
  }
}
